<div class="content" role="main">
  <!-- Step 1 -->
  <p>Rien dans la vue pour l'instant, tout se passe dans la console</p>
  <br>

  <!-- Step 2 -->
  <!-- <p>{{name()}}</p>
  <br> -->

  <!-- Step 3 -->
  <!-- <p>Utilisateur : {{currentUser()}}, total : {{counter()}}</p>
  <br>

  <input type="text" [(ngModel)]="newUsername">
  <button (click)="setUser(newUsername)">changer d'utilisateur</button>
  <br> -->

  <!-- Step 4 -->
  <!-- <h1>posts signals</h1>
  @for (post of store().posts; track post) {
    <p>{{post.title}}</p>
  } @empty {
    <p>Pas de post</p>
  }
  <button (click)="addPost()">ajouter un post</button>

  <h1>posts ngxs</h1>
  @for (post of posts$|async; track post) {
    <p>{{post.title}}</p>
  } @empty {
    <p>Pas de post</p>
  }
  <button (click)="addPostNgxs()">ajouter un post</button> -->

</div>
